# Predict North America Sales with Linear Regression

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('vgsales.csv', sep=',')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
numeric_df = df.select_dtypes(include=['number'])
correlation_matrix = numeric_df.corr()

# Format the correlation matrix to set precision
formatted_correlation = correlation_matrix.style.background_gradient(cmap='coolwarm', axis=None).format(precision=2)

# Display the formatted correlation matrix
formatted_correlation

In [ ]:
# filter out inputs that have the highest correlation with NA_Sales
X = df[["EU_Sales"]] # (16597, 2) Matrix (Inputs)
y = df[["NA_Sales"]] # (16597, 1) Vector (Outputs)
X.shape

In [ ]:
# perform the regression using scikit-learn
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X, y)

In [ ]:
# the theta's
print('theta_0', regr.intercept_, 'theta_1', regr.coef_)

# perform prediction on the complete training set
pred = regr.predict(X)

# visualize how the model fits the training data
plt.scatter(X, y)
plt.plot(X, pred, color="r")
plt.xlabel('Population of City in 10,000s')
plt.ylabel('Profit in $10,000s')
plt.title('Profit as a function of city population')
plt.show()