In [3]:
import pandas as pd
df = pd.read_csv('gender_submission.csv', sep=';')
df.head()

    PassengerId,Survived
0                  892,0
1                  893,1
2                  894,0
3                  895,0
4                  896,1
..                   ...
413               1305,0
414               1306,1
415               1307,0
416               1308,0
417               1309,0

[418 rows x 1 columns]